<div class='row'>
  <!-- BEGIN-SNIPPET template -->
  {{#form-for filters
      class='frost-flex-1'
      update=(action 'mutate')
      as |f|
   }}
    {{f.text-field 'firstName'}}
    {{f.text-field 'lastName'}}

    {{f.select-field 'gender' (concat
        'unknown '
        'male '
        'female'
      )
    }}
    {{f.checkbox-field 'terms'}}
  {{/form-for}}
  <!-- END-SNIPPET -->

  <div class='frost-flex-1'>
    <table class='table table-sm'>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      <!-- BEGIN-SNIPPET each-in -->
      {{#each-in filters as |key value|}}
        <tr>
          <th>{{key}}</th>
          <th>{{value}}</th>
        </tr>
      {{/each-in}}
      <!-- END-SNIPPET -->
      </tbody>
    </table>
  </div>
</div>
<div class='column'>
  <div class='justify-left row'>
    {{code-snippet name='each-in.hbs'}}
    {{code-snippet name='route.js'}}
  </div>
  <div class='justify-left row'>
    {{code-snippet name='template.hbs'}}
    {{code-snippet name='controller.js'}}
  </div>
</div>
