<div class='row'>
  <!-- BEGIN-SNIPPET template -->
  {{#form-for filters
      class='frost-flex-1'
      update=(action 'mutate')
      as |f|
   }}
    {{f.text-field 'firstName'}}
    {{f.text-field 'lastName'}}

    {{f.select-field 'gender' (concat
        'unknown '
        'male '
        'female'
      )
    }}

    {{f.email-field 'email'}}
    {{f.text-field 'username'}}
    {{f.password-field 'password'}}

    {{f.checkbox-field 'terms'}}
  {{/form-for}}
  <!-- END-SNIPPET -->

  <div class='frost-flex-1'>
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      <!-- BEGIN-SNIPPET each-in -->
      {{#each-in filters as |key value|}}
        <tr>
          <th>{{key}}</th>
          <th>{{value}}</th>
        </tr>
      {{/each-in}}
      <!-- END-SNIPPET -->
      </tbody>
    </table>
  </div>
</div>
<div class='align-center column'>
  {{code-snippet name='route.js'}}
  <div class='justify-center row'>
    {{code-snippet name='template.hbs'}}
    <div class='column'>
      {{code-snippet name='controller.js'}}
      {{code-snippet name='each-in.hbs'}}
    </div>
  </div>
</div>
