<div class='content'>
  {{#form-for filters
      class='frost-flex-1'
      update=(action 'mutate')
      as |f|
   }}
    {{f.text-field 'firstName'}}
    {{f.text-field 'lastName'}}

    {{f.select-field 'gender' 'unknown male female'}}

    {{f.email-field 'email'}}
    {{f.text-field 'username'}}
    {{f.password-field 'password'}}

    {{f.checkbox-field 'terms'}}
  {{/form-for}}
  <div class='frost-flex-1'>
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      {{#each-in filters as |key value|}}
        <tr>
          <th>
            <code>
              {{key}}
            </code>
          </th>
          <th>
            <code>
              {{value}}
            </code>
          </th>
        </tr>
      {{/each-in}}
      </tbody>
    </table>
  </div>
</div>
